<header>
    <div class="global-width relative">
        <div class="left">
            <div class="logo">
                <img src="../assets/images/logo-header.png">
            </div>
            <div class="phone">310-907-7129</div>
        </div>
        <div class="right">
            <span class="icon-menu"></span>
            <ol class="nav">
                <li>
                    <a href="#" class="Login">Login</a>
                </li>
            </ol>
            <a href="#" class="Get-Started-btn button outline cta Get-Started">Get Started</a>
        </div>
    </div>
</header>

<section class="splash relative">
    <div>
        <img src="../assets/images/rectangle-2.png" srcset="../assets/images/rectangle-2@2x.png 2x,
            ../assets/images/rectangle-2@3x.png 3x" class="Rectangle-2">
        <div class="col100 Rectangle-3">
            <div class="col-md-12 col-lg-12 no-padding">
                <a class="button large width-100   col-md-6 col-lg-6" style="
                -webkit-border-radius: 0rem;
                border-radius: 0rem;    cursor: pointer;
            ">Borrow</a>
                <a class="button large width-100 sky col-md-6 col-lg-6 no-padding" style="
                -webkit-border-radius: 0rem;
                border-radius: 0rem;    cursor: pointer;
            ">Invester</a>
            </div>
        </div>
    </div>
    <div class="global-box">
            <div class="form" style="
            background-color: transparent;
            text-align:  center;
            margin-top: -32%;
        ">
                <div class="col100">
                    <div class="col-md-12 col-lg-12 no-padding">
                        <label class="Get-easy-loan-anywhe">Get easy loan anywhere, anytime</label>
                    </div>
                </div>
        </div>
    </div>   
    <div class="global-box">
        <div class="form">
            <div class="col100">
                <div class="col50 padding-right-half">
                    <input class="large width-100 white outline" placeholder="$" />
                </div>
                <div class="col33 padding-left-half ">
                    <select class="large width-100 white outline">
                        <option>What the money for ?</option>
                    </select>
                </div>
                <div  class="col25 padding-left-half get-Started" style="
                width: 16%;"><a _ngcontent-c1="" class="button large width-100 orange Get-Started-btn" style="
                    border-radius: 20px;
                    background-color: #ffb600;
                    box-shadow: 0 2px 4px 0 rgba(255, 182, 0, 0.5);
                    font-size: 16px
                ">Get Rate</a></div>
            </div>
        </div>
    </div>
              

</section>

<section>
    <div class="global-width column-3">
        <div class="col100">
            <div class="col33 padding-left padding-right">
                <!-- Product -->
                <div class="product">
                    <div class="product-top">
                        <div class="product-title white margin-bottom-half">Commercial Equity</div>
                        <div class="product-sub-title white">$1 - $5 million</div>
                    </div>
                    <div class="product-bottom">
                        <ul class="margin-bottom">
                            <li>Existing, cash-flowing or value-add transactions</li>
                            <li>Up to 90% of equity</li>
                            <li>Close in 30 days</li>
                            <li>Single consolidated entity: One K-1, One distribution, One report</li>
                        </ul>
                        <a href="#" class="button medium orange">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col33 padding-left padding-right">
                <!-- Product -->
                <div class="product">
                    <div class="product-top">
                        <div class="product-title white margin-bottom-half">Residential Loans</div>
                        <div class="product-sub-title white">$150K +</div>
                    </div>
                    <div class="product-bottom">
                        <ul class="margin-bottom">
                            <li>Non-Owner Occupied, 1-4 units</li>
                            <li>Fix and Flip or Cash Out refinance</li>
                            <li>Up to 90% loan to cost</li>
                            <li>Close in 10 days</li>
                            <li>No limit on number of properties financed</li>
                        </ul>
                        <a href="#" class="button medium orange">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col33 padding-left padding-right">
                <!-- Product -->
                <div class="product">
                    <div class="product-top">
                        <div class="product-title white margin-bottom-half">Commercial Equity</div>
                        <div class="product-sub-title white">$1 - $5 million</div>
                    </div>
                    <div class="product-bottom">
                        <ul class="margin-bottom">
                            <li>Stabilized, transitioning or opportunistic transactions</li>
                            <li>Up to 90% loan to cost</li>
                            <li>Term: 12 months – 10 years</li>
                            <li>Multifamily, retail, industrial, office, student housing, self-storage, mixed use</li>
                            <li>Recourse & non-recourse options</li>
                        </ul>
                        <a href="#" class="button medium orange">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="global-width column-3">
        <h2 class="margin-bottom-double">Selected Transactions</h2>
        <div class="col100 margin-bottom-double">
            <div class="col33 padding-left padding-right">
                <div class="transaction">
                    <div class="transaction-top">
                        <img src="https://www.realtymogul.com/sites/default/files/styles/387_314_frontpage_selected_transactions/public/frontpage2015/selected_transactions/equity.jpg?itok=3KOtGmba"
                        />
                    </div>
                    <div class="transaction-bottom">
                        <div class="transaction-headline">$3,510,000</div>
                        <div>
                            <b>Equity Purchase</b>
                        </div>
                        <div>Prunedale, CA</div>
                        <div>Safeway & CVS Retail Center</div>
                    </div>
                </div>
            </div>

            <div class="col33 padding-left padding-right">
                <div class="transaction">
                    <div class="transaction-top">
                        <img src="https://www.realtymogul.com/sites/default/files/styles/387_314_frontpage_selected_transactions/public/frontpage2015/selected_transactions/equity.jpg?itok=3KOtGmba"
                        />
                    </div>
                    <div class="transaction-bottom">
                        <div class="transaction-headline">$3,510,000</div>
                        <div>
                            <b>Equity Purchase</b>
                        </div>
                        <div>Prunedale, CA</div>
                        <div>Safeway & CVS Retail Center</div>
                    </div>
                </div>
            </div>

            <div class="col33 padding-left padding-right">
                <div class="transaction">
                    <div class="transaction-top">
                        <img src="https://www.realtymogul.com/sites/default/files/styles/387_314_frontpage_selected_transactions/public/frontpage2015/selected_transactions/equity.jpg?itok=3KOtGmba"
                        />
                    </div>
                    <div class="transaction-bottom">
                        <div class="transaction-headline">$3,510,000</div>
                        <div>
                            <b>Equity Purchase</b>
                        </div>
                        <div>Prunedale, CA</div>
                        <div>Safeway & CVS Retail Center</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-width">
        <h2 class="body-color margin-bottom">Finance your next project today</h2>
        <a href="#" class="button large orange">Apply Now</a>
    </div>
</section>

<div class="investor-breaker">
    <div class="investor-breaker-wrapper relative">
        <span class="investor-breaker-headline">Real Estate Crowdinvesting. Simplified.</span>
        <a href="#" class="button large orange outline">Become an Investor</a>
    </div>
</div>



<div class="footer">
    <div class="global-width">
        
        <p>© 2015 Realty Mogul, all rights reserved</p>
    </div>
</div>