<header>
    <div class="global-width relative">
        <div class="left">
            <div class="logo">
                <img src="../assets/images/logo-header.png">
            </div>
            <div class="phone">310-907-7129</div>
        </div>
        <div class="right">
            <span class="icon-menu"></span>
            <ol class="nav">
                <li>
                    <a routerLink="/login" class="Login">Login</a>
                </li>
            </ol>
            <a href="#" class="Get-Started-btn button outline cta Get-Started">Get Started</a>
        </div>
    </div>
</header>

<section class="splash relative">
    <div>
        <img src="../assets/images/rectangle-2.png" srcset="../assets/images/rectangle-2@2x.png 2x,
            ../assets/images/rectangle-2@3x.png 3x" class="Rectangle-2">
        <div class="col100 Rectangle-3">
            <div class="col-md-12 col-lg-12 no-padding">
                <a class="button large width-100   col-md-6 col-lg-6">Borrow</a>
                <a class="button large width-100 sky col-md-6 col-lg-6 no-padding">Invester</a>
            </div>
        </div>
    </div>
    <div class="global-box">
        <div class="form">
            <span class="form-headline">How much are you looking to finance?</span>
            <div class="col100">
                <div class="col25 padding-right-half">
                    <input class="large width-100 white outline" placeholder="Input..." />
                </div>
                <div class="col25 padding-left-half padding-right-half">
                    <select class="large width-100 white outline">
                        <option>Menu</option>
                    </select>
                </div>
                <div class="col25 padding-left-half padding-right-half">
                    <select class="large width-100 white outline">
                        <option>Menu</option>
                    </select>
                </div>
                <div class="col25 padding-left-half">
                    <a class="button large width-100 orange">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="global-width column-3">
        <div class="col100">
            <div class="col33 padding-left padding-right">
                <!-- Product -->
                <div class="product">
                    <div class="product-top">
                        <div class="product-title white margin-bottom-half">Commercial Equity</div>
                        <div class="product-sub-title white">$1 - $5 million</div>
                    </div>
                    <div class="product-bottom">
                        <ul class="margin-bottom">
                            <li>Existing, cash-flowing or value-add transactions</li>
                            <li>Up to 90% of equity</li>
                            <li>Close in 30 days</li>
                            <li>Single consolidated entity: One K-1, One distribution, One report</li>
                        </ul>
                        <a href="#" class="button medium orange">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col33 padding-left padding-right">
                <!-- Product -->
                <div class="product">
                    <div class="product-top">
                        <div class="product-title white margin-bottom-half">Residential Loans</div>
                        <div class="product-sub-title white">$150K +</div>
                    </div>
                    <div class="product-bottom">
                        <ul class="margin-bottom">
                            <li>Non-Owner Occupied, 1-4 units</li>
                            <li>Fix and Flip or Cash Out refinance</li>
                            <li>Up to 90% loan to cost</li>
                            <li>Close in 10 days</li>
                            <li>No limit on number of properties financed</li>
                        </ul>
                        <a href="#" class="button medium orange">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col33 padding-left padding-right">
                <!-- Product -->
                <div class="product">
                    <div class="product-top">
                        <div class="product-title white margin-bottom-half">Commercial Equity</div>
                        <div class="product-sub-title white">$1 - $5 million</div>
                    </div>
                    <div class="product-bottom">
                        <ul class="margin-bottom">
                            <li>Stabilized, transitioning or opportunistic transactions</li>
                            <li>Up to 90% loan to cost</li>
                            <li>Term: 12 months – 10 years</li>
                            <li>Multifamily, retail, industrial, office, student housing, self-storage, mixed use</li>
                            <li>Recourse & non-recourse options</li>
                        </ul>
                        <a href="#" class="button medium orange">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="skyline">
    <div class="global-width">
        <div class="skyline-headline white">
            <span class="row1">More than
                <b>$64 Million</b> Financed</span>
            <span class="row2">to Date for
                <b>226 Properties</b>
            </span>
        </div>
    </div>
</div>

<section>
    <div class="global-width column-3">
        <h2 class="margin-bottom-double">Selected Transactions</h2>
        <div class="col100 margin-bottom-double">
            <div class="col33 padding-left padding-right">
                <div class="transaction">
                    <div class="transaction-top">
                        <img src="https://www.realtymogul.com/sites/default/files/styles/387_314_frontpage_selected_transactions/public/frontpage2015/selected_transactions/equity.jpg?itok=3KOtGmba"
                        />
                    </div>
                    <div class="transaction-bottom">
                        <div class="transaction-headline">$3,510,000</div>
                        <div>
                            <b>Equity Purchase</b>
                        </div>
                        <div>Prunedale, CA</div>
                        <div>Safeway & CVS Retail Center</div>
                    </div>
                </div>
            </div>

            <div class="col33 padding-left padding-right">
                <div class="transaction">
                    <div class="transaction-top">
                        <img src="https://www.realtymogul.com/sites/default/files/styles/387_314_frontpage_selected_transactions/public/frontpage2015/selected_transactions/equity.jpg?itok=3KOtGmba"
                        />
                    </div>
                    <div class="transaction-bottom">
                        <div class="transaction-headline">$3,510,000</div>
                        <div>
                            <b>Equity Purchase</b>
                        </div>
                        <div>Prunedale, CA</div>
                        <div>Safeway & CVS Retail Center</div>
                    </div>
                </div>
            </div>

            <div class="col33 padding-left padding-right">
                <div class="transaction">
                    <div class="transaction-top">
                        <img src="https://www.realtymogul.com/sites/default/files/styles/387_314_frontpage_selected_transactions/public/frontpage2015/selected_transactions/equity.jpg?itok=3KOtGmba"
                        />
                    </div>
                    <div class="transaction-bottom">
                        <div class="transaction-headline">$3,510,000</div>
                        <div>
                            <b>Equity Purchase</b>
                        </div>
                        <div>Prunedale, CA</div>
                        <div>Safeway & CVS Retail Center</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-width">
        <h2 class="body-color margin-bottom">Finance your next project today</h2>
        <a href="#" class="button large orange">Apply Now</a>
    </div>
</section>

<div class="investor-breaker">
    <div class="investor-breaker-wrapper relative">
        <span class="investor-breaker-headline">Real Estate Crowdinvesting. Simplified.</span>
        <a href="#" class="button large orange outline">Become an Investor</a>
    </div>
</div>

<section class="featured-articles">
    <div class="global-width">
        <h2 class="white margin-bottom-double">Featured Articles</h2>
        <ol>
            <li>
                <a href="#" class="featured-article-link">
                    <span class="headline">Excepteur? Lorem. Deserunt ornare hymenaeos laudantium, vel etiam sint - </span>
                    <span class="body">Id eaque odio suspendisse dui vivamus explicabo nunc! Labore tempore.</span>
                    <span class="icon-keyboard-arrow-right"></span>
                </a>
            </li>
            <li>
                <a href="#" class="featured-article-link">
                    <span class="headline">Excepteur? Lorem. Deserunt ornare hymenaeos laudantium, vel etiam sint - </span>
                    <span class="body">Id eaque odio suspendisse dui vivamus explicabo nunc! Labore tempore.</span>
                    <span class="icon-keyboard-arrow-right"></span>
                </a>
            </li>
            <li>
                <a href="#" class="featured-article-link">
                    <span class="headline">Excepteur? Lorem. Deserunt ornare hymenaeos laudantium, vel etiam sint - </span>
                    <span class="body">Id eaque odio suspendisse dui vivamus explicabo nunc! Labore tempore.</span>
                    <span class="icon-keyboard-arrow-right"></span>
                </a>
            </li>
            <li>
                <a href="#" class="featured-article-link">
                    <span class="headline">Excepteur? Lorem. Deserunt ornare hymenaeos laudantium, vel etiam sint - </span>
                    <span class="body">Id eaque odio suspendisse dui vivamus explicabo nunc! Labore tempore.</span>
                    <span class="icon-keyboard-arrow-right"></span>
                </a>
            </li>
            <li>
                <a href="#" class="featured-article-link">
                    <span class="headline">Excepteur? Lorem. Deserunt ornare hymenaeos laudantium, vel etiam sint - </span>
                    <span class="body">Id eaque odio suspendisse dui vivamus explicabo nunc! Labore tempore.</span>
                    <span class="icon-keyboard-arrow-right"></span>
                </a>
            </li>
        </ol>
    </div>
</section>

<div class="footer">
    <div class="global-width">
        <ol class="footer-1 margin-bottom">
            <li>
                <a href="#" class="white">Facebook</a>
            </li>
            <li>
                <a href="#" class="white">Twitter</a>
            </li>
            <li>
                <a href="#" class="white">LinkedIn</a>
            </li>
            <li>
                <a href="#" class="white">Google+</a>
            </li>
            <li>
                <a href="#" class="white">YouTube</a>
            </li>
        </ol>
        <ol class="footer-2 margin-bottom">
            <li>
                <a href="#" class="white">About Us</a>
            </li>
            <li>
                <a href="#" class="white">Careers</a>
            </li>
            <li>
                <a href="#" class="white">Contact Us</a>
            </li>
            <li>
                <a href="#" class="white">Statistics+</a>
            </li>
            <li>
                <a href="#" class="white">FAQs</a>
            </li>
            <li>
                <a href="#" class="white">Press</a>
            </li>
            <li>
                <a href="#" class="white">Glossary</a>
            </li>
            <li>
                <a href="#" class="white">Privacy</a>
            </li>
            <li>
                <a href="#" class="white">Terms of Service</a>
            </li>
        </ol>
        <p>RealtyMogul.com is a website operated by Realty Mogul, Co. Equity securities are offered through WealthForge, LLC,
            a registered broker/dealer and member FINRA/SIPC. WealthForge generally invoices the companies sponsoring real
            estate projects into which a Realty Mogul-organized company will invest for WealthForge's execution and other
            services; Realty Mogul is separately paid by WealthForge for Realty Mogul's technology, reporting, communications,
            and administrative efforts; and several officers and employees of Realty Mogul are registered representatives
            of WealthForge. Thus, each of Realty Mogul, and those of its officers and employees that are registered representatives
            of WealthForge, will realize compensation through WealthForge as a result of any equity transaction. Realty Mogul
            operates in California under DRE license #01926613. By accessing this site and any pages thereof, you agree to
            be bound by our Terms of Service and Privacy Policy. RealtyMogul.com is intended only for accredited investors
            (for persons residing in the U.S.), and for persons residing abroad in jurisdictions where securities registration
            exemptions apply.</p>
        <p>Realty Mogul does not make investment recommendations, and no communication through this website or in any other
            medium should be construed as such. Investment opportunities posted on this website are “private placements”
            of securities that are not publicly traded, are subject to holding period requirements, and are intended for
            investors who do not need a liquid investment. Private placement investments are NOT bank deposits (and thus
            NOT insured by the FDIC or by any other federal governmental agency), are NOT guaranteed by Realty Mogul or WealthForge,
            and MAY lose value. Neither the Securities and Exchange Commission nor any federal or state securities commission
            or regulatory authority has recommended or approved any investment or the accuracy or completeness of any of
            the information or materials provided by or through the website. Investors must be able to afford the loss of
            their entire investment.</p>
        <p>Any financial projections or returns shown on the website are illustrative examples only, and there can be no assurance
            that any valuations provided are accurate or in agreement with market or industry valuations. Any investment
            information contained herein has been secured from sources Realty Mogul believes are reliable, but we make no
            representations or warranties as to the accuracy of such information and accept no liability therefor. Offers
            to sell, or the solicitations of offers to buy, any security can only be made through official offering documents
            that contain important information about risks, fees and expenses. Investors should conduct their own due diligence,
            not rely on the financial assumptions or estimates displayed on this website, and are encouraged to consult with
            a financial advisor, attorney, accountant, and any other professional that can help you to understand and assess
            the risks associated with any investment opportunity.</p>
        <p>*Past performance is not indicative of future performance.</p>
        <p>© 2015 Realty Mogul, all rights reserved</p>
    </div>
</div>