@import "../../homepage/homepage.component.scss";

.box-loan{
    width: 360px;
    height: 155px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 6px 16px 0 rgba(98, 140, 209, 0.24);
    padding-bottom: 20px;
  }