<div [@routerTransition]>
    <section _ngcontent-c8="">
        <div _ngcontent-c8="" class="global-width column-3">
            <div _ngcontent-c8="" class="col100">
                <div _ngcontent-c8="" class="col33 padding-left padding-right">
                    <div _ngcontent-c8="" class="product box-loan">
                        
                        <div _ngcontent-c8="" class="product-bottom">
                            <ul _ngcontent-c8="" class="margin-bottom">
                                <li _ngcontent-c8="">Vehicle Loan</li>
                                <li _ngcontent-c8="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li _ngcontent-c8=""></li>
                                <li _ngcontent-c8=""></li>
                                <li _ngcontent-c8="">Start Appilication —></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div _ngcontent-c8="" class="col33 padding-left padding-right">
                    <div _ngcontent-c8="" class="product box-loan">
                        
                        <div _ngcontent-c8="" class="product-bottom">
                            <ul _ngcontent-c8="" class="margin-bottom">
                                <li _ngcontent-c8="">Personal Loan</li>
                                <li _ngcontent-c8="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li _ngcontent-c8=""></li>
                                <li _ngcontent-c8=""></li>
                                <li _ngcontent-c8="">Start Appilication —></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div _ngcontent-c8="" class="col33 padding-left padding-right">
                    <div _ngcontent-c8="" class="product box-loan">
                        
                        <div _ngcontent-c8="" class="product-bottom">
                            <ul _ngcontent-c8="" class="margin-bottom">
                                <li _ngcontent-c8="">Personal Loan</li>
                                <li _ngcontent-c8="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li _ngcontent-c8=""></li>
                                <li _ngcontent-c8=""></li>
                                <li _ngcontent-c8="">Start Appilication —></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-c8="" class="col100">
                    <div _ngcontent-c8="" class="col33 padding-left padding-right">
                        <div _ngcontent-c8="" class="product box-loan">
                            
                            <div _ngcontent-c8="" class="product-bottom">
                                <ul _ngcontent-c8="" class="margin-bottom">
                                    <li _ngcontent-c8="">Student Loan</li>
                                    <li _ngcontent-c8="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li _ngcontent-c8=""></li>
                                    <li _ngcontent-c8=""></li>
                                    <li _ngcontent-c8="">Start Appilication —></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c8="" class="col33 padding-left padding-right">
                        <div _ngcontent-c8="" class="product box-loan">
                            
                            <div _ngcontent-c8="" class="product-bottom">
                                <ul _ngcontent-c8="" class="margin-bottom">
                                    <li _ngcontent-c8="">Small Businessn</li>
                                    <li _ngcontent-c8="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li _ngcontent-c8=""></li>
                                    <li _ngcontent-c8=""></li>
                                    <li _ngcontent-c8="">Start Appilication —></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c8="" class="col33 padding-left padding-right">
                        <div _ngcontent-c8="" class="product box-loan">
                            
                            <div _ngcontent-c8="" class="product-bottom">
                                <ul _ngcontent-c8="" class="margin-bottom">
                                    <li _ngcontent-c8="">Lorem Ipsum</li>
                                    <li _ngcontent-c8="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li _ngcontent-c8=""></li>
                                    <li _ngcontent-c8=""></li>
                                    <li _ngcontent-c8="">Start Appilication —></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary '" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>